In [16]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.randn(5,5))
df1.iloc[:4,1] = np.nan
df1.iloc[:2,2] = np.nan

In [59]:
df2 = df1.dropna(axis=0,thresh=4) #要深刻理解，歪果仁的脑回路真是不一样

In [60]:
df1

          0         1         2         3         4
0 -0.367578       NaN       NaN -1.475411 -0.383746
1 -1.553917       NaN       NaN -0.646517  0.546136
2 -0.924124       NaN  0.548088 -0.739621  2.023829
3 -0.241982       NaN -2.519245 -1.634102  2.423368
4  1.861236 -2.403037 -0.346842  1.045906 -0.789847

In [61]:
df2

          0         1         2         3         4
2 -0.924124       NaN  0.548088 -0.739621  2.023829
3 -0.241982       NaN -2.519245 -1.634102  2.423368
4  1.861236 -2.403037 -0.346842  1.045906 -0.789847